h1 {
    display: flex;
    margin-bottom: 0%;
    background-color:brown;
    color: white;
}

#forecast {
    justify-content: space-between;
    background-color: burlywood;
}

#weatherinfo {
    background-color: brown;
    justify-content: space-between;
}